/* ?? When i make the header fixed position, 
the nav links bring the main to the top under the header*/

header {
  display: flex;
  position: sticky;
  width: 100%;
  background-color: #ed3e5b80;
  font-size: larger;
  border: dashed rgb(45, 230, 101);
  padding-left: 3%;
  z-index: 1;
}

header img {
  max-width: 100px;
  height: auto;
  border-radius: 50px;
  margin: 20px;
}

nav {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-item a {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

/*This is how i work around the fixed position issue, 
but it only "works" visually at first, when links are click, 
the content goes under the header*/
/*main {
  padding-top: 165px;
  border: dashed rgb(212, 28, 58);
}  */

/* flexbox and psudo classes were used to further customize 
and organize the responsive qualities of the application */

.flex-container {
  display: flex;
  background-color: #1eff4730;
  align-items: center;
}

.details {
  display: flex;
  flex: 0 1 100%;
  align-items: center;
  padding: 10px;
  gap: 1em;
}

.flex-container > div {
  background-color: #1eff4730;
  width: 100%;
  font-size: 20px;
}
.aside {
  display: flex;
  flex: 0 0 15%;
  font-size: 25px;
  color: #00000070;
  align-items: center;
  justify-content: right;
  min-width: 100px;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.big-lable-container {
  position: relative;
}

.top-left-big {
  display: flex;
  position: absolute;
  padding: 5%;
  margin: 1%;
  background-color: #7fffd480;
  color: white;
  font-weight: bold;
}

.top-left-big:hover {
  background-color: black;
}

.big-img {
  width: 100%;
  padding: 10px;
}

.img-row {
  display: flex;
}

.top-left-lil {
  display: flex;
  position: absolute;
  margin: 1%;
  padding: 3%;
  background-color: #7fffd480;
  color: white;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: fuchsia;
}
a:active {
  text-decoration: none;
  color:aqua;
}
.top-left-lil:hover {
  background-color: black;
}

.img-row img {
  max-width: 100%;
  padding: 0.5rem;
}

.img-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-buttons * {
  border-radius: 20%;
  max-width: 195px;
  height: 200px;
  width: 50%;
  padding: 10px;
  display: inline-block;
}

.contactme {
  background-image: url("./Images/contact_image.png");
  background-size: 100%;
  color: transparent;
  max-height: 185px;
}

.contactme:hover {
  color: greenyellow;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgb(143, 37, 37);
  transition: 0.2s ease-in-out;
}

.socials {
  background-image: url("./Images/Github_image.png");
  background-size: 100%;
  color: transparent;
  max-height: 185px;
}

.socials:hover {
  color: greenyellow;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgb(143, 37, 37);
  transition: 0.2s ease-in-out;
}

.giticon {
  background-image: url("./Images/github-mark.png");
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.giticon:hover {
  box-shadow: 5px 5px 5px rgb(143, 37, 37);
  transition: 0.2s ease-in-out;
}

.linkdin {
  background-image: url("./Images/In-White-128@2x.png");
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.linkdin:hover {
  box-shadow: 5px 5px 5px rgb(143, 37, 37);
  transition: 0.2s ease-in-out;
}

.footer {
  height: 5%;
  width: 100%;
  background-color: #ed3e5b80;
}

/* media queries allow me to stlye the display for different screen size */

@media screen and (max-width: 992px) {
  header {
    background-color: pink;
  }
}

@media screen and (max-width: 768px) {
  header,
  .nav-links,
  .flex-container,
  .details,
  .img-row {
    display: flex;
    background-color: yellow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  header,
  .nav-links,
  .flex-container,
  .details,
  .img-row {
    display: flex;
    background-color: greenyellow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .lil-img {
    width: 100%;
  }
}
