header {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #ffc0cb80;
  font-size: larger;
  border: dashed rgb(45, 230, 101);
  padding-left: 3%;
}

header img {
  max-width: 100px;
  height: auto;
  border-radius: 50px;
  margin: 20px;
}

nav {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
}

.nav-item a {
  padding: 20px;
}

main {
  padding-top: 165px;
  border: dotted rgb(212, 28, 58);
}

.flex-container {
  display: flex;
  background-color: #1eff4730;
  align-items: center;
}

.details {
  display: flex;
  flex: 0 1 100%;
  align-items: center;
  gap: 1em;
}

.flex-container > div {
  background-color: #0000ff;
  width: 100%;
  font-size: 20px;
}
.aside {
  display: flex;
  flex: 0 0 15%;
  font-size: 25px;
  color: #00000070;
  align-items: center;
  justify-content: center;
  min-width: 100px;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.big-img {
  width: 100%;
  padding: 10px;
}

.lil-img {
  width: 50%;
  padding: 10px;
}

.img-buttons > * {
  border-radius: 20%;
  max-width: 200px;

}

@media screen and (max-width: 992px) {
  header {
    background-color: pink;
  }
}

@media screen and (max-width: 768px) {
  header,
  .nav-links,
  .flex-container,
  .details,
  .img-row {
    display: flex;
    background-color: yellow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  header,
  .nav-links,
  .flex-container,
  .details,
  .img-row {
    display: flex;
    background-color: greenyellow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .lil-img {
    width: 100%;
  }
}